{{> header }}
<div class="email_body">
        <p>We are pleased to inform you that your account has been approved by our site admin.</p>
        <p>We look forward to seeing you begin your trading journey on Intercambio!</p>
 </div>
{{> footer }}