{{> header }}
<div class="email_body">
        <div>
            <p>We wanted to let you know that your Intercambio password was reset.</p>
        </div>
        <div>
            <p>If you did not perform this action, please contact the site administrator immediately.</p>
        </div>
        <div>
            <p>Please do not reply to this email with your password. We will never ask for your password, and we strongly discourage you from sharing it with anyone.</p>
        </div>
    </div>
{{> footer }}