{{> header }}
<div  class="email_body">
        <div>
            <p>We heard that you lost your Intercambio password. Sorry about that!</p>
            <p>But don’t worry! You can use the following button to reset your password:</p>
        </div>
        <div class="button-container">
            <a href="http://localhost:3000/api/password/reset/{{resetLink}}">
                <div>
                    <h4><b>Reset your Password</b></h4>
                </div>
            </a>
        </div>
        <div>
            <p>If you don’t use this link within 24 hours, it will expire.</p>
        </div>
</div>
{{> footer }}