<div class="email_footer">
  <p>Kind regards,</p>
  <p><i>Intercambio team.</i></p>
  <div class="link_container">
    <a href="{{ baseUrl }}">
      <h3>INTERCAMBIO</h3>
    </a>
  </div>
</div>

</body>
</html>